/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* General layout */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .calendar-container {
    padding-top: 30px;
    margin-top: 30px;
  }

  header,
  footer {
    text-align: center;
    padding: 1rem;
  }
  
  header {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other elements */
  }
  
  /* Add some padding to the top of the main content to prevent it from being hidden behind the fixed header */
  main {
    padding-top: 200px; /* Adjust this value according to the height of your header */
  }
  
  .welcome {
    padding-bottom: 15px;
  }

  footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    text-shadow: cyan;
  }
  
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    background-color: black;
}
  
  nav .social-links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0 2rem;
  }
  
  nav .social-links a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: -1px -0.5px magenta, 3px 1px cyan;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin: 0 0.5rem;
  } 
  
  nav .social-links a:hover {
    background-color: white;
    color: black;
    box-shadow: -3px -1px cyan, 1px 0.5px magenta;
}

main {
  position: relative;
  background-color: transparent;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.bg-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*background-image: url('pokemon.jpg');  Replace with your image URL */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.content {
  width: 70%;
  padding: 5% 15%; /* Adding 15% padding on left and right */
  z-index: 1;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.85);
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main h2 {
  margin-bottom: 1.5rem;
}

main p {
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 768px) {
  nav .social-links {
    flex-direction: row;
  }

  nav .social-links a {
    margin-bottom: 0.5rem;
  }
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 magenta, 2px -3px 0 cyan;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 magenta, -2px 3px 0 cyan;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 magenta, 2px -3px 0 cyan;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 magenta, -2px 3px 0 cyan;
    }
    4%, 100% {  
      text-shadow: 1.5px 1px cyan; transform: none; 
    }
    6%, 8% {  
      text-shadow: -1px -0.5px magenta; transform: none; 
    }
  } 

/* Mobile devices */
@media screen and (max-width: 480px) {
  nav .social-links {
      font-size: 0.8rem;
      padding: 0;
  }

  nav .social-links a {
      margin: 0.25rem;
      padding: 0.25rem;
  }

  main {
      padding: 1rem;
  }

  main h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
  }

  main p {
      font-size: 1rem;
  }
}

.calendar-wrapper {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
}

.calendar-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.content-section.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

/*.content-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}*/